<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @nationalid_verified == nil %>
     <%= form.hidden_field :document_type , :value => "NationalId" %>                      
    <div class="field">                                   
      <%= form.select :nationalid_type, options_for_select([["بطاقة الرقم القومى","NationalId_Card"],["جواز السفر","Passport"]]),:include_blank =>  t('choose from list')%>
      </div> 
    <br> 
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br> 
    <div class="field">
      <%= form.label :nationalid_no %>
      <%= form.number_field :nationalid_no %>
    </div>
    <br> 
    <div class="field">
      <%= form.label :issue_date %>
      <%= form.date_select :issue_date %>
    </div>
    <br> 
    <div class="field">
      <%= form.label :expire_date %>
      <%= form.date_select :expire_date %>
    </div>
    <br>
    <div class="field">
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
    </div>
    <br> 
    <div class="actions">
      <%= form.submit %>
    </div>



  <% elsif @selfie_verified == nil %>
  <%= form.hidden_field :document_type , :value => "Selfi" %> 

    <div class="field">
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
      <br> 
    <div class="actions">
      <%= form.submit %>
    </div>

    </div>


  <% elsif @address_verified == nil %>
  <%= form.hidden_field :document_type , :value => "Address" %> 

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>
    <br>
    <div class="field">
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
    </div><br>
    <div class="actions">
      <%= form.submit %>
    </div>



  <% end %>
  


<% end %>
