<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_info.user.firstname + " " + @user_info.user.lastname  %>
</p>

<p>
  <strong>Document Type:</strong>
  <%= @user_info.user_verification.document_type %>
</p>

<% if @user_info.user_verification.document_type == "NationalId" %>
<p>
  <strong>Issue date:</strong>
  <%= @user_info.issue_date %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @user_info.expire_date %>
</p>

<p>
  <strong>Nationalid no:</strong>
  <%= @user_info.nationalid_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>
<% elsif @user_info.user_verification.document_type == "Address" %>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<% end %>

<p>
  <strong>attachment:</strong>
  <%= image_tag @user_info.attachment.variant(resize: "100x100")  %>
</p>


<%= form_with(model: @user_info.user_verification, local: true) do |form| %>


  <div class="field">                                   
      <%= form.select :status, options_for_select([["UnVerified","UnVerified"],["Verified","Verified"]], :selected => form.object.status ),:include_blank =>  t('choose from list')%>
      </div> 
  <br> 

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
