<div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @selfie_verification.id %></span>
          <h3> Selfie Verification Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td><%= @selfie_verification.user.firstname + " " + @selfie_verification.user.lasttname %></td>
            </tr>
          </thead>
          <tbody>
          <% if @selfie_verification.avatar.attached? %>
            <tr>
              <th>attachment</th>
              <td> <%= image_tag @selfie_verification.avatar.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
            <tr>
              <th>Status</th>
              <td> <%= @selfie_verification.status %></td>
            </tr>
          <% if @selfie_verification.note != nil and @selfie_verification.note != "" %>
            <tr>
              <th>Note </th>
              <td> <%= @selfie_verification.note %></td>
            </tr>
          <% end %>         
          </tbody>
        </table>
      </div>
</div>

