
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to payers.net, <%= params[:email] %></h1>
    <p>
    <h3> Your Code is  <%= params[:token] %></h3>
    
    <h5>Thanks for joining and have a great day!</h5>
    </p>
    
  </body>
</html>
