
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to payers.net, <%= params[:email] %></h1>
    <p>
    <h1>Your confirmation code is : <%= params[:token] %></h1>
    <a href="https://payers2019.herokuapp.com/confirmmail?token=<%= params[:token]%>&id=<%= params[:id]%>"  target="_blank"><%= "Confirm From Here" %></a>
    
    <h4>Thanks for joining and have a great day!</h4>
    </p>
    
  </body>
</html>
