<div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @address_verification.id %></span>
          <h3> Address Verification Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td><%= @address_verification.user.firstname + " " + @address_verification.user.lastname %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Country</th>
              <td> <%= @address_verification.country.Full_Name %></td>
            </tr>
            <tr>
              <th>City</th>
              <td> <%=@address_verification.city %></td>
            </tr>
            <tr>
              <th>State</th>
              <td> <%= @address_verification.state %></td>
            </tr>
            <tr>
            <th>Street</th>
            <td> <%= @address_verification.street %></td>
          </tr>
          <tr>
            <th>Apartment Number</th>
            <td> <%= @address_verification.apartment_number %></td>
          </tr>
          <% if @address_verification.attachment.attached? %>
            <tr>
              <th>attachment</th>
              <td><%= image_tag @address_verification.attachment.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
            <tr>
              <th>Status</th>
              <td> <%= @address_verification.status %></td>
            </tr>

          <% if @address_verification.note != nil and @address_verification.note != "" %>
            <tr>
              <th>Note </th>
              <td> <%= @address_verification.note %></td>
            </tr>
          <% end %>         
          </tbody>
        </table>
      </div>
</div>

