<div class="item">
  <div class="item-bg hidden-folded">
    <img src="/assets/images/a2.jpg" class="opacity-3">
  </div>
  <div class="pos-rlt">
    <div class="nav-fold">
    	<a href="#/app/page/profile" ui-sref="app.page.profile" >
        <span class="pull-right m-v-sm hidden-folded">
          <b class="label rounded success">9</b>
        </span>
        <span class="block">
          <img src="/assets/images/a2.jpg" alt="..." class="w-40 img-circle">
        </span>
        <span class="clear hidden-folded m-t-sm">
          <span class="block _500">Jack Perez</span>
          <small class="block text-muted">London, UK</small>
        </span>
      </a>
    </div>   
  </div>
</div>
