<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Payers - Payment Facilator</title>
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo-s.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo-s.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
</head>
<body>
  <div class="app" id="app">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="'/views/blocks/navbar.brand.html'"></div>
      </div>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign up to your Payers Account
      </div>
	  <%= form_for @user do |form| %>
		<%= csrf_meta_tag %>
		<% if @user.errors.any? %>
		   <div id="error_explanation">
		     <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
			 <ul>
		        <% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
		        <% end %>
		     </ul>
		   </div>
		<% end %>
    <div class="md-form-group">
		   <%= form.text_field :firstname , class: 'md-input' , :required => true %>
          <label>First Name</label>
		</div>
    <div class="md-form-group">
		   <%= form.text_field :lastname , class: 'md-input' , :required => true %>
          <label>Last Name</label>
		</div>
    <div class="md-form-group">
		    <%= form.text_field :email, type: 'email' , class: 'md-input', :required => true %>
            <label>Email</label>
		</div>
		<div class="md-form-group">
		  <%= form.password_field :password , class: 'md-input' , :required => true %>
		  <label>Password</label>
          <span  class="mdl-textfield__error" id="unacceptedpass" style="color:red ; display:none;">كلمة المرور يجب أن تحتوى على حروف كبيرة وصغيرة وأرقام ولا تقل عن 8</span>
        </div>        
        <div class="md-form-group">
             <% if session[:refered_by] != nil %>
                       <%= form.text_field :refered_by , class: 'md-input' , placeholder: session[:refered_by] , readonly: true %>
			           <label>Invitation Code</label>
					   <% else %>
                   <%= form.text_field :refered_by , class: 'md-input'   %>
			       <label>Invitation Code</label>
				   <% end %>
    </div>

		<div class="md-form-group">	
		  <label>Country</label>    
      <%= form.select :country_id, options_for_select( Country.all.collect {|p| [ p.Full_Name, p.id ] } ), {}, {:class => 'form-control input-c'} %>
    </div>
        
        
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" required><i class="primary"></i> Agree the <a href>terms and policy</a>
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md"  id="submit" >Sign up</button>
		<% end %>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <a ui-sref="access.signin" href="/sign_in" class="text-primary _600">Sign in</a></div>
    </div>
  </div>

<!-- ############ LAYOUT END-->

  </div>
<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/jquery/PACE/pace.min.js"></script>

  <script src="/scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="scripts/app.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->
</body>
</html>

<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script>
   $(document).ready(function() 
      {
		  console.log("<%= @refered_by%>");
		$("#user_refered_by").val("<%= @refered_by%>");
		$('#user_password').keyup(function()
		   {
			   console.log("here");
                $('#acceptedpass').hide();
                var pass1 = $("#user_password").val();
				if ( pass1.match(/^(((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])))(?=.{8,})/) ) 
					{
                       $('#unacceptedpass').hide();
                       $("#submit").removeAttr("disabled");
					}
				else
					{
                       $('#unacceptedpass').show();
					   $('#submit').attr('disabled',true);
                    }
                                      
			});
	  });
</script>
