<div class="card" style="width:20%; height:60%; background:#afb8cf; box-shadow: 0 0 8px #5c558d; margin-bottom:20px; padding-bottom:10px; padding-top:5px; margin-top:20px;">
<%= form_tag  url_for(:controller => 'users', :action => 'statistics'), :method => 'get' do %>

    <div class="page-title l-height-md mrg-bottom-md">
        <div class="row row-default button-row">
            <div class="col-md-3">
                <h4 class="iblock mrg-left-lg md-lg-fontsize text-dbrand font-weight-normal">
                    <%= t('Users statistics') %>
                </h4>
            </div>
            <div class="col-md-9">
                <div class="clearfix">                                        
                    <div class="field">                                   
                    <%= select_tag(:account_status, options_for_select([["جميع الأعضاء","count_users"],["الأعضاء المفعلين","confirmed"],["الأعضاء الموقوفين","disabled"]]),:include_blank =>  t('choose from list'))%>
                        <br><br><button type="submit" style="margin-top: -7px" class="btn btn-primary waves-effect waves-light m-t-15 text-center"><%= 'search' %> </button>
                    </div>    
                </div>
            </div>
        </div>
    </div>    
<% end %>
  <br>
<%= "sum = " + @result.count.to_s%>
</div>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |user| %>
      <tr>
        <td><%= user.firstname + " " + user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if user.disabled == 0 %>
        <td><%= link_to t('Disable User').html_safe, { :controller => :users,:action=>:lock_unlock_account,:id => user.id} %></td>
        <% else %>
        <td><%= link_to t('Enable User').html_safe, { :controller => :users,:action=>:lock_unlock_account,:id => user.id} %></td>
        <% end %>
        <td><%= link_to t('show user log').html_safe, { :controller => :watchdogs,:action=>:user_log,:id => user.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script language="JavaScript" type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>

<script>
$(document).ready(function() {
    $("#account_status").val("<%= params[:account_status].to_s%>");
    })
</script>
