<!DOCTYPE html>
 
<div class="container">
<h1>Cards Categories</h1>
<div class="row">
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[0].card_value %></h4> 
      <a href="/payment_method?val=<%= @categories[0].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
  </div>
  
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[1].card_value %></h4>
      <a href="/payment_method?val=<%= @categories[1].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[2].card_value %></h4> 
      <a href="/payment_method?val=<%= @categories[2].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
  </div>
  
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[3].card_value %></h4>
      <a href="/payment_method?val=<%= @categories[3].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
  </div>
</div>
</div>