<p id="notice"><%= notice %></p>

<p>
  <strong>User Account Number:</strong>
  <%= @user_wallet.user.account_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @user_wallet.amount %>
</p>

<p>
  <strong>Status:</strong>
  <% if @user_wallet.status == 0 %>
    <%= "Disabled" %>
  <% elsif @user_wallet.status == 1 %>
    <%= "Enabled" %>
  <% end %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @user_wallet.uuid %>
</p>

<%= link_to 'Transfer Balance', transfer_balance_path %>
