<p id="notice"><%= notice %></p>

<h1>Watchdogs</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Logintime</th>
      <th>Ipaddress</th>
      <th>Lastvisit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchdogs.each do |watchdog| %>
      <tr>
        <td><%= watchdog.user_id %></td>
        <td><%= watchdog.logintime %></td>
        <td><%= watchdog.ipaddress %></td>
        <td><%= watchdog.lastvisit %></td>
        <td><%= link_to 'Show', watchdog %></td>
        <td><%= link_to 'Edit', edit_watchdog_path(watchdog) %></td>
        <td><%= link_to 'Destroy', watchdog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watchdog', new_watchdog_path %>
