<h1>اختر وسيلة الايداع</h1>
<%= form_tag  url_for(:controller => 'cards', :action => 'remittance'), :method => 'get' do %>

    <select id="pay_method" class="form-control">
    <option disabled selected value>اختر وسيلة الايداع</option>
    <option value="local_bank">بنوك محلية</option>
    <option value="electronic_bank">البنوك الالكترونية</option>
    <option value="digital_bank">العملات الرقمية</option>
    </select><br>

    <select id="local" class="form-control" style="display:none;">
    <option disabled selected value>اختر البنك</option>
    <% @local_banks.each do |local_bank| %>
        <option value="<%= local_bank.bank_key %>"><%= local_bank.bank_name%></option>
    <% end %>
    </select>


    <select id="digital" class="form-control" style="display:none;">
    <option disabled selected value>اختر العملة الرقمية</option>
    <% @digital_banks.each do |digital_bank| %>
        <option value="<%= digital_bank.bank_key %>"><%= digital_bank.bank_name%></option>
    <% end %>
    </select>

    <select id="electronic" class="form-control" style="display:none;">
    <option disabled selected value>اختر البنك الالكترونى</option>
    <% @electronic_banks.each do |electronic_bank| %>
        <option value="<%= electronic_bank.bank_key %>"><%= electronic_bank.bank_name%></option>
    <% end %>
    </select>
    <br><br>
    <div id='paydetails' class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-shadow-right" style="display:none;">

    <h5 id="bankname" class="text-blue md-lg-fontsize mrg-bottom-md hlf-e-btm font-weight-normal"></h5>
    <span id="account_name" class="placeholder-span" ><%= 'account name'+" " %>:</span><br>
    <span id="account_number" class="placeholder-span" ><%= 'account number'+" " %>:</span><br>
    <span id="branch" class="placeholder-span" ><%= 'branch'+" " %>:</span><br>
    <div id="ibancode_div" class="self-label" style="display:none;">
    <label>
    <span id="ibancode" class="placeholder-span" style="display:none;><%= 'iban code'+" " %>:</span><br>
    </label>
    </div>
    <div id="swiftcode_div" class="self-label" style="display:none;">
    <label>
    <span id="swiftcode" class="placeholder-span" style="display:none;><%= 'swiftcode code'+" " %>:</span><br>
    </label>
    </div>

        <div class="iblock mrg-left-lg mrg-bottom-md">
        <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= 'Requested Payment' %></h5>
        <p class="md-sm-fontsize text-black english-font font-bold"><%= params[:val] %></p>
        </div>
        <div class="iblock mrg-bottom-md">
            <h5 class="sm-lg-fontsize text-blue font-weight-normal mrg-bottom-xs hlf-e-btm"><%= 'Administrative expenses' %></h5>
            <p id="expenses" class="md-sm-fontsize text-black english-font font-bold"></p>
        </div>
        <p class="sm-lg-fontsize text-blue mrg-bottom-xs hlf-e-btm"><%= 'Total Sum' %></p>
        <h1 id='total' class="xlg-lg-fontsize l-height-1 text-black font-weight-normal gotham-book"></h1>
    <div>
    <button type="button" id="confirm_pay" onclick="this.disabled=true;this.value='<%= 'Please Wait' %>';this.form.submit();" class="btn md-padding radius-sm border-brand hover-bg-brand text-hover-white text-brand bg-white mrg-top-sm"><%= 'Add Request' %> </button>
<% end %>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>

        $(document).ready(function() {

            $("#pay_method").change(function() {
                var selectedmethod = $( "#pay_method option:selected" ).val();
                // alert(selectedmethod);
                if (selectedmethod == "local_bank"){
                    $('#local').show();
                    $('#digital').hide();
                    $('#electronic').hide();}
                else if (selectedmethod == "digital_bank"){
                    $('#digital').show();
                    $('#local').hide();
                    $('#electronic').hide();}
                else if (selectedmethod == "electronic_bank"){
                    $('#electronic').show();
                    $('#digital').hide();
                    $('#local').hide();
                }

            });

            $("#local").change(function() {
                var selectedbank = $( "#local option:selected" ).val();
                var value = "<%= params[:val] %>";
                 // alert(selectedbank);
                 // alert(value);

                $.ajax({ type:'get',url:'/payment_data',
                         data:{selectedbank:selectedbank,value:value},
                         contentType: "application/json",
                         dataType: "json",
                         success: function(data){
                            //console.log(data.value);
                            //console.log(data.bankdata)
                            $('#expenses').text(data.value);
                            var expenses = parseFloat(data.value);
                            var valuef = parseFloat(value);
                            var total_val = (valuef + expenses);
                            $('#total').text(total_val + ' ' + 'USD');
                            $('#bankname').text('<%= "bank name"%>'+' : '+ data.bankdata.bank_name);
                            $('#account_name').text('<%= "account name" %>'+' : '+ data.bankdata.account_name);
                            $('#account_number').text('<%= "account number" %>'+' : '+ data.bankdata.account_number);
                            $('#branch').text('<%= "branch" %>'+' : '+ data.bankdata.branch);
                            $('#swiftcode').text('swift code' +' : '+ data.bankdata.swiftcode);
                            $('#ibancode').text('iban code' + ' : '+ data.bankdata.ibancode);
                            $('#paydetails').show();

                            if (data.bankdata.swiftcode != nil){
                                $('#swiftcode').show();
                                $('#ibancode').hide();}
                            else if (data.bankdata.ibancode != nil) {
                                $('#ibancode').show();
                                $('#swiftcode').hide();
                            }
                        }
                    });
            });

        });

</script>