<h1>ماهى وسيلة الايداع التى تفضلها ؟</h1>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>
</head>
<body>
<div class="row">
    <div class="card">
        <img src="pay2.jpg" alt="Avatar" style="width:50%">
        <div class="container">
            <h4><b><a href="/display_cards_categories">بطاقات الائتمان او الحسابات البنكية</a></b></h4> 
            <p>اشحن رصيد باستخدام حساباتك البنكية,بطاقاتك الائتمانيه,العملات الالكترونيه مثلا البتكوين</p> 
        </div>
    </div>

    <div class="card">
        <img src="pay1.jpg" alt="Avatar" style="width:50%">
        <div class="container">
            <h4><b><a href="/display_cards_categories">بطاقات بايرز مسبوقة الدفع</a></b></h4> 
            <p>اشحن رصيد باستخدام بطاقات بايرز مسبقة الدفع</p> 
        </div>
    </div>
</div>
</body>

