<h1>User Cards</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Value</th>
      <th>Status</th>
      <th>Expired at</th>
      <th>Invoice</th>
    </tr>
  </thead>

  <tbody>
    <% @user_cards.each do |card| %>
      <tr>
        <td><%= card.number.scan(/.{1,4}/).join('-') %></td>
        <td><%= card.value %></td>
        <% if card.status == 1 %>
        <td><%= "Active" %></td>
        <% elsif card.status == 2 %>
        <td><%= "Charged" %></td>
        <% elsif card.status == 3 %>
            <td><%= "pending" %></td>
        <% elsif card.status == 4 %>
            <td><%= "disabled" %></td>
        <% end %>
        <td><%= card.expired_at %></td>
        <td><%= card.invoice_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Buy New Card', display_cards_categories_path %></button>
