<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upload.title %>
</p>

<%= link_to image_tag(@upload.avatar), @upload.avatar %>
<br>
<%= link_to 'Edit', edit_upload_path(@upload) %> ||
<%= link_to 'Back', uploads_path %><br>
